@import 'global.css';

.logo-special-fx {
    text-shadow: 0px 0px 17px rgb(123, 0, 255);
}

.logo-special-fx > span {
    color: #fff !important;
}

div#home-promo {
    justify-content: center;
    flex-flow: column nowrap;
    background: url('../media/images/promo-pattern.png') repeat,
                linear-gradient(
                    rgba(120, 34, 255, 0.3), 
                    rgba(120, 34, 255, 0.3)
                ),
                url('../media/images/promo-header.jpg') no-repeat;
    background-size:  auto, auto, cover;
}

div#home-promo header {
    justify-content: space-between;
    align-items: center;
}

input#movie-search {
    min-height: 42px;
    width: 40%;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
    color: #fff;
    padding: 5px 10px;
}

input#movie-search:focus {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}

nav#header-nav a img#profile-nav-photo {
    max-height: 42px;
    max-width: 42px;
    border-radius: 50%;
}

nav#header-nav {
    align-items: center;
}

nav#header-nav a {
    margin: 0 10px;
    color: #fff;
}

a#notification-area {
    position: relative;
}

a#notification-area i {
    z-index: 1;
    align-self: center;
}

a#notification-area .notification-badge {
    font-size: 10px;
    font-weight: 900;
    z-index: 2;
    height: 10px;
    position: absolute;
    width:  10px;
    border-radius: 50%;
    text-align: center;
    line-height: 1em;
    right: 0;
    bottom: 0;
    background-color: #7822FF;
}

button#play-header-button {
    position: absolute;
    top: calc(70vh - 26px);
    right: 50px;
    height: 52px;
    width: 52px;
    background-color: #7822FF;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    border: none;
}

button#play-header-button i {
    font-size: 20px;
}

section#promo-movie {
    align-self: center;
    margin: 5vw 0;
    max-width: 70%;
    height: 100%;
    color: #fff;
}

section#promo-movie #movie-promo-info {
    max-width: 80%;
    margin: 100px 0;
    justify-content: center;
    flex-flow: column nowrap;
}

section#promo-movie #movie-promo-info h1 {
    font-size: 5vw;
    text-shadow: 0px 0px 12px rgba(0,0,0, 0.4);
    margin: 0;
}

section#promo-movie #movie-promo-info p {
    max-width: 90%;
    max-height: 40%;
    text-overflow: ellipsis;
    margin: 15px 0 0 0;
    overflow: auto;
    white-space: nowrap;
}