img {
    min-width: 5vh;
    max-width: 30vh;
    min-height: 5vh;
    max-height: 30vh;
    border-radius: 50%;
    box-shadow: 10px 10px 10px grey;
}

footer {
    bottom: 40px;
    margin-bottom: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    display: flex;
    align-items: center;
}

.usuario {
    margin: 2% 8%;
}

.usuario>h2 {
    margin-top: 20px;
    font-size: 1.5vw;
    color: #7822FF;
    font-weight: 100;
    background-color: #7822FF;
    border-radius: 4px;
    color: #fff;
    padding: 4px;
}

.usuario>h2:hover {
    font-weight: bolder;
    cursor: pointer;
}

#usuarios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}